body {
  font-family: Fira Code, sans-serif;
  padding: 30px;
  background-color: #eee;
}

header {
  padding: 30px;
  text-align: center;
  background: #fff;
}

.menu {
  background: #333;
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  transition: 0.3s;
  display: block;
  text-align: center;
}

.menu a:hover {
  background: #555;
}

.card {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}

.card img {
  max-width: 100%;
}

.footer {
  background: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 850px) {
  .menu a {
    display: inline-block;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .colunaesquerda {
    width: 70%;
    float: left;
  }

  .colunadireita {
    width: 30%;
    float: left;
  }

  .rightm {
    margin-right: 20px;
  }
}
