.flexitem {
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
}

.blue {
  background-color: #3498db22;
  border: 1px solid #3498db;
  color: #3498db;
}

.green {
  background-color: #2ecc7122;
  border: 1px solid #2ecc71;
  color: #2ecc71;
}

.purple {
  background-color: #9b59b622;
  border: 1px solid #9b59b6;
  color: #9b59b6;
}
